body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:620px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:620px;
}
#u1 {
  position:absolute;
  left:2px;
  top:302px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-10px;
  top:0px;
  width:460px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:70px;
}
#u3 {
  position:absolute;
  left:2px;
  top:26px;
  width:456px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:26px;
  top:20px;
  width:14px;
  height:27px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:20px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:204px;
  top:81px;
  width:15px;
  height:16px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  visibility:hidden;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:0px;
  top:69px;
  width:450px;
  height:71px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:71px;
}
#u9 {
  position:absolute;
  left:2px;
  top:18px;
  width:446px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:0px;
  top:160px;
  width:450px;
  height:460px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:460px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:446px;
  word-wrap:break-word;
}
