body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:850px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:450px;
  height:850px;
}
#u1 {
  position:absolute;
  left:2px;
  top:417px;
  width:446px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:70px;
  top:220px;
  width:310px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:306px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:70px;
  top:280px;
  width:310px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:16px;
  width:306px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:70px;
  top:705px;
  width:310px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:16px;
  width:306px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:172px;
  top:792px;
  width:105px;
  height:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:160px;
  top:80px;
  width:120px;
  height:120px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:120px;
}
#u11 {
  position:absolute;
  left:2px;
  top:52px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:70px;
  top:670px;
  width:207px;
  height:18px;
}
#u13 {
  position:absolute;
  left:16px;
  top:0px;
  width:189px;
  word-wrap:break-word;
}
#u12_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u14 {
  position:absolute;
  left:70px;
  top:340px;
  width:310px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:16px;
  width:306px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:130px;
  top:450px;
  width:200px;
  height:22px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u16_input:disabled {
  color:grayText;
}
#u17 {
  position:absolute;
  left:70px;
  top:452px;
  width:27px;
  height:18px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:70px;
  top:496px;
  width:310px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:50px;
}
#u20 {
  position:absolute;
  left:2px;
  top:16px;
  width:306px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:20px;
  top:413px;
  width:410px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:393px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:5px;
  width:410px;
  height:1px;
}
#u22 {
  position:absolute;
  left:20px;
  top:640px;
  width:410px;
  height:10px;
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:393px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:5px;
  width:410px;
  height:1px;
}
#u23 {
  position:absolute;
  left:70px;
  top:556px;
  width:310px;
  height:50px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:50px;
}
#u24 {
  position:absolute;
  left:2px;
  top:16px;
  width:306px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:-10px;
  top:0px;
  width:460px;
  height:70px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:70px;
}
#u26 {
  position:absolute;
  left:2px;
  top:26px;
  width:456px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:26px;
  top:20px;
  width:14px;
  height:27px;
  font-family:'Avenir-Heavy', 'Avenir Heavy', 'Avenir';
  font-weight:800;
  font-style:normal;
  font-size:20px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:27px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  white-space:nowrap;
}
